S3method(addConstraint,default)
S3method(addConstraint,graph)
S3method(addIndex,default)
S3method(addIndex,graph)
S3method(addLabel,default)
S3method(addLabel,node)
S3method(clear,default)
S3method(clear,graph)
S3method(createNode,default)
S3method(createNode,graph)
S3method(createRel,default)
S3method(createRel,node)
S3method(cypher,default)
S3method(cypher,graph)
S3method(delete,default)
S3method(delete,entity)
S3method(deleteProp,default)
S3method(deleteProp,entity)
S3method(dropConstraint,default)
S3method(dropConstraint,graph)
S3method(dropIndex,default)
S3method(dropIndex,graph)
S3method(dropLabel,default)
S3method(dropLabel,node)
S3method(getConstraint,default)
S3method(getConstraint,graph)
S3method(getEnd,default)
S3method(getEnd,relationship)
S3method(getIndex,default)
S3method(getIndex,graph)
S3method(getLabel,default)
S3method(getLabel,graph)
S3method(getLabel,node)
S3method(getNodeByCypher,default)
S3method(getNodeByCypher,graph)
S3method(getNodeByIndex,default)
S3method(getNodeByIndex,graph)
S3method(getRelByCypher,default)
S3method(getRelByCypher,graph)
S3method(getStart,default)
S3method(getStart,relationship)
S3method(populate,default)
S3method(populate,graph)
S3method(summary,graph)
S3method(print,graph)
S3method(print,node)
S3method(print,relationship)
S3method(startGraph,default)
S3method(updateProp,default)
S3method(updateProp,entity)

export(addConstraint)
export(addIndex)
export(addLabel)
export(clear)
export(createNode)
export(createRel)
export(cypher)
export(delete)
export(deleteProp)
export(dropConstraint)
export(dropIndex)
export(dropLabel)
export(getConstraint)
export(getEnd)
export(getIndex)
export(getLabel)
export(getNodeByCypher)
export(getNodeByIndex)
export(getRelByCypher)
export(getStart)
export(populate)
export(startGraph)
export(updateProp)

importFrom(RCurl, httpGET)
importFrom(RCurl, httpPOST)
importFrom(RCurl, httpPUT)
importFrom(RCurl, httpDELETE)
importFrom(RJSONIO, toJSON)
importFrom(RJSONIO, fromJSON)