S3method(addConstraint,default)
S3method(addConstraint,graph)
S3method(addIndex,default)
S3method(addIndex,graph)
S3method(addLabel,default)
S3method(addLabel,node)
S3method(clear,default)
S3method(clear,graph)
S3method(createNode,default)
S3method(createNode,graph)
S3method(createRel,default)
S3method(createRel,node)
S3method(cypher,default)
S3method(cypher,graph)
S3method(delete,default)
S3method(delete,entity)
S3method(deleteProp,default)
S3method(deleteProp,entity)
S3method(dropConstraint,default)
S3method(dropConstraint,graph)
S3method(dropIndex,default)
S3method(dropIndex,graph)
S3method(dropLabel,default)
S3method(dropLabel,node)
S3method(endNode,default)
S3method(endNode,relationship)
S3method(getConstraint,default)
S3method(getConstraint,graph)
S3method(getIndex,default)
S3method(getIndex,graph)
S3method(getLabel,default)
S3method(getLabel,graph)
S3method(getLabel,node)
S3method(getLabeledNodes,default)
S3method(getLabeledNodes,graph)
S3method(getNodes,default)
S3method(getNodes,graph)
S3method(getRels,default)
S3method(getRels,graph)
S3method(getSingleNode,default)
S3method(getSingleNode,graph)
S3method(getSingleRel,default)
S3method(getSingleRel,graph)
S3method(getType,default)
S3method(getType,graph)
S3method(getType,relationship)
S3method(getUniqueNode,default)
S3method(getUniqueNode,graph)
S3method(incomingRels,default)
S3method(incomingRels,node)
S3method(outgoingRels,default)
S3method(outgoingRels,node)
S3method(populate,default)
S3method(populate,graph)
S3method(summary,graph)
S3method(print,graph)
S3method(print,node)
S3method(print,relationship)
S3method(startGraph,default)
S3method(startNode,default)
S3method(startNode,relationship)
S3method(updateProp,default)
S3method(updateProp,entity)

export(addConstraint)
export(addIndex)
export(addLabel)
export(clear)
export(createNode)
export(createRel)
export(cypher)
export(delete)
export(deleteProp)
export(dropConstraint)
export(dropIndex)
export(dropLabel)
export(endNode)
export(getConstraint)
export(getIndex)
export(getLabel)
export(getLabeledNodes)
export(getNodes)
export(getRels)
export(getSingleNode)
export(getSingleRel)
export(getType)
export(getUniqueNode)
export(incomingRels)
export(outgoingRels)
export(populate)
export(startGraph)
export(startNode)
export(updateProp)

importFrom(RCurl,httpGET)
importFrom(RCurl,httpPOST)
importFrom(RCurl,httpPUT)
importFrom(RCurl,httpDELETE)
importFrom(RJSONIO,toJSON)
importFrom(RJSONIO,fromJSON)